@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Nunito+Sans&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white dark:bg-black
}

.hide-scrollbars {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */

  &::-webkit-scrollbar {
    @apply w-0 h-0 bg-transparent;
  }
}

.thin-scrollbars {
  scrollbar-color: rgba(0 0 0 / 0.5) rgba(0 0 0 / 0)
}

.dark .thin-scrollbars {
  scrollbar-color: rgba(255 255 255 / 0.5) rgba(0 0 0 / 0)
}

.thin-scrollbars {
  scrollbar-width: thin;

  overflow: overlay;
  &::-webkit-scrollbar {
    @apply w-1 h-1;
  }
  &::-webkit-scrollbar-thumb {
    @apply rounded-full bg-black bg-opacity-50 dark:bg-white dark:bg-opacity-50;
  }
}

.input-range-default {
  -webkit-appearance: none;
  @apply bg-transparent;

  &::-webkit-slider-runnable-track {
    @apply h-2 rounded-full bg-gray-600 dark:bg-gray-300;
  }
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    @apply w-2 h-2 rounded-full bg-gray-400 dark:bg-gray-500;
  }
}

.fade-enter-from,
.fade-leave-to {
  @apply opacity-0;
}

.fade-enter-active,
.fade-leave-active {
  @apply transition-opacity duration-300 ease-linear;
}

.scale-enter-from,
.scale-leave-to {
  @apply scale-0;
}

.scale-enter-active,
.scale-leave-active {
  @apply transition-transform duration-300 ease-in;
}

.slide-left-enter-from,
.slide-left-leave-to,
.slide-left-uni-enter-from,
.slide-right-uni-leave-to {
  @apply translate-x-full;
}

.slide-right-enter-from,
.slide-right-leave-to,
.slide-right-uni-enter-from,
.slide-left-uni-leave-to {
  @apply -translate-x-full;
}

.slide-left-enter-active,
.slide-left-uni-enter-active,
.slide-right-enter-active,
.slide-right-uni-enter-active {
  @apply transition-transform duration-300 ease-out;
}

.slide-left-leave-active,
.slide-left-uni-leave-active,
.slide-right-leave-active,
.slide-right-uni-leave-active {
  @apply transition-transform duration-300 ease-in;
}

.rotate-cw-enter-from,
.rotate-cw-in-enter-from,
.rotate-cw-leave-to,
.rotate-cw-out-leave-to {
  @apply -rotate-180;
}

.rotate-ccw-enter-from,
.rotate-ccw-in-enter-from,
.rotate-ccw-leave-to,
.rotate-ccw-out-leave-to {
  @apply rotate-180;
}

.rotate-cw-enter-active,
.rotate-cw-in-enter-active,
.rotate-ccw-enter-active,
.rotate-ccw-in-enter-active,
.rotate-cw-leave-active,
.rotate-cw-out-leave-active,
.rotate-ccw-leave-active,
.rotate-ccw-out-leave-active {
  @apply transition-transform duration-300 ease-in;
}

.list-move {
  @apply transition-transform duration-300 ease-in-out;
}

.list-slide-move {
  @apply transition-transform duration-300 ease-in-out;
}

.list-slide-enter-active,
.list-slide-leave-active {
  @apply transition duration-300 ease-out;
}

.list-slide-enter-from,
.list-slide-leave-to {
  @apply opacity-0 translate-x-full;
}

.pop-enter-active,
.pop-leave-active {
  @apply transition-all duration-300 ease-out;
}

.pop-enter-from,
.pop-leave-to {
  @apply scale-0;
}

.v-popper--theme-context-menu div {
  .v-popper__inner {
    @apply p-4 bg-gray-300 dark:bg-gray-600 border-2 border-gray-500 dark:border-gray-400 text-black dark:text-white
  }

  .v-popper__arrow-inner {
    @apply hidden
  }

  .v-popper__arrow-outer {
    @apply border-gray-500 dark:border-gray-400
  }
}

@layer components {
  .button-default {
    @apply rounded-lg bg-black font-bold text-white enabled:transition-colors enabled:duration-300 enabled:hover:bg-gray-600 disabled:opacity-20 dark:bg-white dark:text-black enabled:hover:dark:bg-gray-300
  }

  .button-default > svg {
   @apply stroke-gray-300 dark:stroke-gray-600
  }

  .button-default.activated {
    @apply bg-gray-400 text-gray-600 enabled:hover:bg-gray-500 dark:bg-gray-500 dark:text-gray-300 enabled:hover:dark:bg-gray-400
  }

  .button-default.activated > svg {
   @apply stroke-gray-600 dark:stroke-gray-300
  }

  .icon-button {
   @apply text-black dark:text-white
  }

  .icon-button > svg {
   @apply stroke-black dark:stroke-white
  }

  .icon-button:hover:enabled {
   @apply text-gray-500 dark:text-gray-400
  }

  .icon-button:hover:enabled > svg {
   @apply stroke-gray-500 dark:stroke-gray-400
  }

  .icon-button.t-transition-default {
   @apply transition-[fill,stroke,opacity] duration-300
  }

  .icon-button:disabled {
    @apply opacity-20
  }

  .input-default {
    @apply px-2 bg-inherit rounded-lg border-2 enabled:transition-colors enabled:duration-300 focus:border-2
    focus:outline-none border-gray-500 dark:border-gray-400 enabled:hover:[&:not(:focus)]:border-gray-600 enabled:hover:[&:not(:focus)]:dark:border-gray-300 focus:border-black focus:dark:border-white
    text-black dark:text-white caret-black dark:caret-white cursor-text
  }

  .input-hidden {
    @apply bg-inherit focus:outline-none border-none text-black dark:text-white caret-black dark:caret-white cursor-text
  }
}
