@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Nunito+Sans&display=swap");

@font-face {
  font-family: YurukaStd;
  src:
    local("YurukaStd"),
    url("https://st.ayaka.one//static/media/YurukaStd.e4589185c34a94a462b4.woff2")
      format("woff2");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    transition-duration: 0s;
    animation-duration: 0s;
  }
}

@layer utilities {
  .hide-scrollbars {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */

    &::-webkit-scrollbar {
      @apply h-0 w-0 bg-transparent;
    }
  }

  .thin-scrollbars {
    scrollbar-width: thin;
    scrollbar-color: rgba(0 0 0 / 0.5) rgba(0 0 0 / 0);

    overflow: overlay;
    &::-webkit-scrollbar {
      @apply h-1 w-1;
    }
    &::-webkit-scrollbar-thumb {
      @apply rounded-full bg-black bg-opacity-50 dark:bg-white dark:bg-opacity-50;
    }
  }
}
